@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 892px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 339px;
  padding: 16px 20px;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: auto;
  list-style: none;
}

.navigation-item, .navigation-user {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
}

.navigation-link, .navigation-user-link {
  color: #000000;
  text-decoration: none;
}

.likes-number {
  color:#ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: #6c9e42;;
}

.navigation-user-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.hero {
  display: flex;
  flex-wrap: wrap;
  color:#000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  font-family: inherit;
  text-align: center;
}

 .advantages-container {
  display: flex;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list-item {
  min-width: 400px;
  min-height: 385px;
}

.advantages-container {
  margin: 0 auto;
}

.section-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  font-family: inherit;
  color: #333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

}

.advantages-title, .conditions-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description, .conditions-item-description {
  font-family: inherit;
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-smalltown, .advantages-bridge {
  color: #ffffff  ;
  background-color: #82b3d3;
}
.advantages-smalltown p {
  color: #ffffff;
}

.advantages-bridge p{
  color: #ffffff;
}

.advantages-smallarea, .advantages-tourists,
.conditions-accomodation, .conditions-souveniers{
  background-color: #f0f6fa;
}

.advantages-road {
  background-color: #e6f0f6;
}

.conditions {
  font-family: inherit;
  text-align: center;
}

.conditions-container {
  display: flex;
  justify-content: center;
}

.conditions-list {
  margin: 0;
  padding: 0;
}

.conditions-list-item {
  width: 400px;
  min-height: 385px;
  list-style: none;
}

.hotel-searching {
  font-family: inherit;
  text-align: center;
}

.hotel-search-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.subscription {
  color:#ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-description {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

}

.subscription-submit {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.vkontakte {
  width: 47px;
  height: 40px;
  background-image: url("../images/social/social-vk.svg");
  background-repeat: no-repeat;
}
.telegram {
  width: 47px;
  height: 40px;
  background-image: url("../images/social/social-telegram.svg");
  background-repeat: no-repeat;
}
.youtube {
  width: 47px;
  height: 40px;
  background-image: url("../images/social/social-youtube.svg");
  background-repeat: no-repeat;
}

.phone-number {
  font-family: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.author-logo {
  width: 115px;
  height: 33px;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

/*
Страница каталога
*/

.catalog-main-selection {
  color:#ffffff;
  background-color: #000000;
  background-image: url("../images/filter.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.catalog-header {
  text-align: left;
}

.main-inner-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-group {
  text-align: left;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-button{
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-reset-button {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-list-card, .catalog-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-name-link {
  text-decoration: none;
}

.hotel-name {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
}

.hotel-spelling {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-price {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  text-transform: capitalize;
}
.product-raiting {
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.button-details {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favourite, .button-favourite-selected {
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favourite-selected {
  background-color: #6c9e42;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
.pagination-link{
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-item-current {
  background-color: #E5E5E5;
 }

 .catalog-subscription {
  text-align: center;

}
