@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
  margin: 0 auto;
}

.main-header {
  position: relative;
  margin-left: 70px;
  margin-right: 70px;
  column-gap: 30px;
  color: #000000;
  background: #ffffff;
  margin-bottom: 0;
  align-items: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
}

.navigation-logo{
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  list-style: none;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.navigation-user {
  display: flex;
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  list-style: none;
}

.navigation-item, .navigation-user-item {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.navigation-user .navigation-user-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link, .navigation-user-link {
  display: block;
  color: #000000;
  text-decoration: none;
}

.navigation-link {
  padding: 16px 20px;
}

.navigation-user .navigation-user-item:nth-child(1)
.navigation-user-link {
  background-image: url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-user-item:nth-child(2)
.navigation-user-link {
  background-image: url('../images/icons/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.likes-number {
  position: relative;
  left: 20px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px 5px;
  color:#ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
}

.navigation-user-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  text-align: center;
  padding-top: 8px;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.main-container {
  flex-grow: 1;
}

.hero {
  color:#000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg"), url("../images/devider.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-logo {
  display: block;
  padding: 51px 371px 82px 371px;
  box-sizing: content-box;
}

.advantages {
  font-family: inherit;
  text-align: center;
}

.advantages-header-container {
  padding: 69px 275px;
}

 .advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list-item {
  width: 400px;
  min-height: 385px;
  padding:  102px 85px;
}

.advantages-container {
  width: 400px;
  min-height: 385px;
  padding:  102px 85px;
}

.section-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.section-description {
  font-family: inherit;
  color: #333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 69px;
}

.advantages-title, .conditions-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description, .conditions-item-description {
  font-family: inherit;
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-smalltown, .advantages-bridge {
  display: flex;
  width: 100%;
  padding: 0;
  color: #ffffff  ;
  background-color: #82b3d3;
}

.advantages-image {
  max-width: 100%;
  height: auto;
}

.advantages-smalltown p {
  color: #ffffff;
}

.advantages-bridge p{
  color: #ffffff;
}

.advantages-smallarea, .advantages-tourists,
.conditions-accomodation, .conditions-souveniers{
  background-color: #f0f6fa;
}

.advantages-road {
  background-color: #e6f0f6;
}

.conditions {
  font-family: inherit;
  text-align: center;
}

.conditions-header-container {
  padding: 64px 348px;
}

.conditions-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.conditions-list-item {
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  list-style: none;
}

.hotel-searching {
  font-family: inherit;
  text-align: center;
  padding: 96px 304px;
}

.hotel-search-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.subscription {
  color:#ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px 238px;
}

.subscription-form {
  display: flex;
  width: 684px;
  height: 52px;
}

.subscription-description {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.email-input {
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
}

.subscription-submit {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  min-width: 142px;
  margin: 0;
  padding: 0;
}

.vkontakte, .telegram, .youtube {
  display: block;
  width: 47px;
  height: 40px;
}

.vkontakte {
  background-image: url("../images/social/social-vk.svg");
  background-repeat: no-repeat;
}
.telegram {
  background-image: url("../images/social/social-telegram.svg");
  background-repeat: no-repeat;
}
.youtube {
  background-image: url("../images/social/social-youtube.svg");
  background-repeat: no-repeat;
}

.phone-number {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.author-logo {
  width: 115px;
  height: 33px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
Страница каталога
*/

.catalog-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
  margin: 0 auto;
}

.catalog-main-selection {
  color:#ffffff;
  background-color: #000000;
  background-image: url("../images/filter.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  margin: 0;
  margin-bottom: 50px;
}

.catalog-header {
  text-align: left;
  margin-bottom: 40px;
}

.main-inner-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-main {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;

}

.breadcrumbs-hotels {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  align-self: center ;
  color: #ffffff;
  padding-left: 28px;
}

.breadcrumbs-hotels::before {
    position: absolute;
    content: '';
    width: 7px;
    height: 10px;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    background-image: url("../images/icons/breadcrumbs-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  text-align: left;
  border: none;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.price-input {
  border: none;
  padding: 12px 20px;
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.price-input-from {
  border-radius: 4px 0 0 4px;
}

.price-input-to {
  border-radius: 0 4px 4px 0;
}


.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 191px;
  margin-top: 56px;
}

.catalog-button{
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  border: none;
  cursor: pointer;
}

.catalog-reset-button {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.catalog {
  margin-top: 0;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 60px;
}

.view-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
}

.catalog-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.catalog-item-tile {
  background-image: url("../images/view-icons/view-tile.svg");
  border: 2px solid #000;
}

.catalog-item-card {
  background-image: url("../images/view-icons/view-card.svg");
}

.catalog-item-list {
  background-image: url("../images/view-icons/view-list.svg");
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.product-list-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  font-size: 24px;
  line-height: 28px;
  min-width: 340px;
  min-height: 438px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotel-image {
  max-width: 100%;
  height: 212px;
  object-fit: contain;
  margin-bottom: 16px;
}

.hotel-name-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-name {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  margin: 0;
}

.hotel-spelling {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  margin: 0;
}

.hotel-price {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  text-transform: capitalize;
  text-align: right;
  margin: 0;
}

.stars {
  display: block;
  width: 140px;
  height: 36px;
  margin: 0;
}

.product-raiting {
  display: block;
  color: #333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  padding-top: 9px;
  margin: 0;
}

.card-button{
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  width: 140px;
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.button-details {
  background-color: #756157;
}

.button-favourite, .button-favourite-selected {
  background-color: #82b3d3;
}

.button-favourite-selected {
  background-color: #6c9e42;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link{
  display: block;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 11px 10px;
}

.pagination-link-current {
  color: #000;
  background-color: #E5E5E5;
}

 .pagination-link-more {
  display: block;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 60px;
  height: 60px;
  padding-top: 20px;
 }

 .catalog-subscription {
  text-align: center;
  padding: 96px 258px 104px;
}
